{% extends 'base.html'%}
{% load static %}
{% block contents %}
<!--게시판으로 사용-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
  #main-nav{
    height:3em
  }
    .col-md-9-5-1 {
      display: flex;
      justify-content: space-between;
      align-items: center !important;
    }

    #버튼 관련된 css
    a {
      font-weight: bold;
      font-size: 2rem;
      display: block;
      margin: 20px;
    }

    a {
      all: unset;
    }

    a:link {
      text-decoration: none;
      color: #3f464d;
    }

    a:visited {
      text-decoration: none;
      color: #3f464d;
    }

    a:active {
      text-decoration: none;
      color: #3f464d;
    }

    tbody tr:hover {
      text-decoration: none;
      color: tomato;
      cursor: pointer;
    }

    .btn_write {
      justify-content: center;
      text-align: center;
      width: 5em;
      background-color: #a8a0a0;
      border-radius: 30%;
    }

    .btn_write p {
      color: beige;
      font-size: 1.5em;
    }

    #write_btn {
      border-radius : 5px;
      margin-right: -4px;
    }

    #test_btn2 {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-left: -3px;
    }

    #btn_group button {
      border: 1px solid skyblue;
      background-color: rgba(0, 0, 0, 0);
      color: skyblue;
      padding: 5px;
    }

    #btn_group button:hover {
      color: white;
      background-color: skyblue;
    }

</style>

  <script>
    function go_write() {
      location.href = "{% url 'board:board_write'%}";
    }
    
    $(document).ready(function(){
      $('table tr').click(function(){
          window.location = $(this).attr('href');
          return false;
        });
    });
  </script>


<body>
  <div class="theme-page-section theme-page-section-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-9-5">
          <div class="col-md-9-5-1">
            <h3 class="theme-account-page-title">게시판</h3>
            <div id="btn_group"> 
              <button id="write_btn" onclick="go_write()">글쓰기</button>
            </div>
          </div>
          <div class="theme-account-history">
            <table class="table">
              <thead>
                <tr>
                  <th>글번호</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>해시태그</th>
                  <th>날짜</th>
                  <th>조회수</th>
                </tr>
              </thead>
              <tbody>
                {% if board_list %}
                {% for board in board_list %}
                <tr href="{% url 'board:detail' board.id %}">
                  <td class="theme-account-history-date">{{ forloop.counter }}</td>
                  <td class="theme-account-history-date">{{ board.brd_title }}</td>
                  <td class="theme-account-history-item-name">{{ board.brd_writer.user_nick }}</td>
                  <td class="theme-account-history-date">{{ board.hash_tags }}</td>
                  <td class="theme-account-history-date">{{ board.brd_write_dt | date:'Y-m-d a H:i' }}</td>
                  <td class="theme-account-history-date">{{ board.brd_hits }}</td>
                </tr>
                {% endfor %}
                {% else %}
                  <p>게시글이 없습니다.</p>
                {% endif %}

                {% comment %} <tr>
                  <td class="theme-account-history-type">
                    <i class="fa fa-home theme-account-history-type-icon"></i>
                  </td>
                  <td>
                    <a href="{% url 'board:board_see'%}" class="theme-account-history-type-title board_title">가산역에 코인세탁소
                      어디 있나요?</a>
                  </td>
                  <td>
                    <p class="theme-account-history-date">김씨</p>
                  </td>
                  <td class="theme-account-history-tr-date">
                    <p class="theme-account-history-date">2021-01-01</p>
                  </td>
                  <td>
                    <p class="theme-account-history-item-price">$319.26</p>
                  </td>
                </tr>
                <tr>
                  <td class="theme-account-history-type">
                    <i class="fa fa-plane theme-account-history-type-icon"></i>
                  </td>
                  <td>
                    <p class="theme-account-history-type-title">London &rarr; New York</p>
                    <a class="theme-account-history-item-name" href="#">Round trip flight</a>
                  </td>
                  <td>
                    <a href="#"></a>
                  </td>
                  <td class="theme-account-history-tr-date">
                    <p class="theme-account-history-date">Sep 20, 2017 &#8212; Sep 27, 2017</p>
                  </td>
                  <td>
                    <p class="theme-account-history-item-price">$236.46</p>
                  </td>
                </tr>
                <tr>
                  <td class="theme-account-history-type">
                    <i class="fa fa-bed theme-account-history-type-icon"></i>
                  </td>
                  <td>
                    <p class="theme-account-history-type-title">Refinery Hotel</p>
                    <a class="theme-account-history-item-name" href="#">Hotel room</a>
                  </td>
                  <td>
                    <a href="#">New York, USA</a>
                  </td>
                  <td class="theme-account-history-tr-date">
                    <p class="theme-account-history-date">Aug 16, 2017 &#8212; Aug 17, 2017</p>
                  </td>
                  <td>
                    <p class="theme-account-history-item-price">$476.63</p>
                  </td>
                </tr>
                <tr>
                  <td class="theme-account-history-type">
                    <i class="fa fa-car theme-account-history-type-icon"></i>
                  </td>
                  <td>
                    <p class="theme-account-history-type-title">Chevrolet Cruze</p>
                    <a class="theme-account-history-item-name" href="#">Rental car</a>
                  </td>
                  <td>
                    <a href="#">New York, USA</a>
                  </td>
                  <td class="theme-account-history-tr-date">
                    <p class="theme-account-history-date">Aug 16, 2017 &#8212; Aug 19, 2017</p>
                  </td>
                  <td>
                    <p class="theme-account-history-item-price">$400.60</p>
                  </td>
                </tr>
                <tr>
                  <td class="theme-account-history-type">
                    <i class="fa fa-glass theme-account-history-type-icon"></i>
                  </td>
                  <td>
                    <p class="theme-account-history-type-title">See London By Night Bus Tour</p>
                    <a class="theme-account-history-item-name" href="#">Experience</a>
                  </td>
                  <td>
                    <a href="#">London, United Kindom</a>
                  </td>
                  <td class="theme-account-history-tr-date">
                    <p class="theme-account-history-date">Aug 13, 2017</p>
                  </td>
                  <td>
                    <p class="theme-account-history-item-price">$206.23</p>
                  </td>
                </tr>
                <tr>
                  <td class="theme-account-history-type">
                    <i class="fa fa-home theme-account-history-type-icon"></i>
                  </td>
                  <td>
                    <p class="theme-account-history-type-title">Jolie petit studio Paris 11</p>
                    <a class="theme-account-history-item-name" href="#">Vacation rental</a>
                  </td>
                  <td>
                    <a href="#">Paris, France</a>
                  </td>
                  <td class="theme-account-history-tr-date">
                    <p class="theme-account-history-date">Jul 9, 2017 &#8212; Jul 11, 2017</p>
                  </td>
                  <td>
                    <p class="theme-account-history-item-price">$268.52</p>
                  </td>
                </tr>
                <tr>
                  <td class="theme-account-history-type">
                    <i class="fa fa-plane theme-account-history-type-icon"></i>
                  </td>
                  <td>
                    <p class="theme-account-history-type-title">London &rarr; New York</p>
                    <a class="theme-account-history-item-name" href="#">Round trip flight</a>
                  </td>
                  <td>
                    <a href="#"></a>
                  </td>
                  <td class="theme-account-history-tr-date">
                    <p class="theme-account-history-date">Jul 8, 2017 &#8212; Jul 13, 2017</p>
                  </td>
                  <td>
                    <p class="theme-account-history-item-price">$443.56</p>
                  </td>
                </tr>
                <tr>
                  <td class="theme-account-history-type">
                    <i class="fa fa-bed theme-account-history-type-icon"></i>
                  </td>
                  <td>
                    <p class="theme-account-history-type-title">Refinery Hotel</p>
                    <a class="theme-account-history-item-name" href="#">Hotel room</a>
                  </td>
                  <td>
                    <a href="#">New York, USA</a>
                  </td>
                  <td class="theme-account-history-tr-date">
                    <p class="theme-account-history-date">Jul 3, 2017 &#8212; Jul 7, 2017</p>
                  </td>
                  <td>
                    <p class="theme-account-history-item-price">$282.73</p>
                  </td>
                </tr>
                <tr>
                  <td class="theme-account-history-type">
                    <i class="fa fa-car theme-account-history-type-icon"></i>
                  </td>
                  <td>
                    <p class="theme-account-history-type-title">Chevrolet Cruze</p>
                    <a class="theme-account-history-item-name" href="#">Rental car</a>
                  </td>
                  <td>
                    <a href="#">New York, USA</a>
                  </td>
                  <td class="theme-account-history-tr-date">
                    <p class="theme-account-history-date">Jul 2, 2017 &#8212; Jul 11, 2017</p>
                  </td>
                  <td>
                    <p class="theme-account-history-item-price">$453.41</p>
                  </td>
                </tr>
                <tr>
                  <td class="theme-account-history-type">
                    <i class="fa fa-glass theme-account-history-type-icon"></i>
                  </td>
                  <td>
                    <p class="theme-account-history-type-title">See London By Night Bus Tour</p>
                    <a class="theme-account-history-item-name" href="#">Experience</a>
                  </td>
                  <td>
                    <a href="#">London, United Kindom</a>
                  </td>
                  <td class="theme-account-history-tr-date">
                    <p class="theme-account-history-date">Jun 15, 2017</p>
                  </td>
                  <td>
                    <p class="theme-account-history-item-price">$373.71</p>
                  </td>
                </tr> {% endcomment %}
              </tbody>
            </table>
            <table class="table">
              <ul class="pagination" >
                {% for i in pagination %}
                <li>
                  <a href='/board/?page={{i}}'>{{i}}</a>
                </li>
                {% endfor %}
              </ul>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="theme-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="theme-copyright-text">Copyright &copy; 2018
            <a href="#">Bookify</a>. All rights reserved.
          </p>
        </div>
        <div class="col-md-6">
          <ul class="theme-copyright-social">
            <li>
              <a class="fa fa-facebook" href="#"></a>
            </li>
            <li>
              <a class="fa fa-google" href="#"></a>
            </li>
            <li>
              <a class="fa fa-twitter" href="#"></a>
            </li>
            <li>
              <a class="fa fa-youtube-play" href="#"></a>
            </li>
            <li>
              <a class="fa fa-instagram" href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}