{% extends 'base.html' %}
{% load static %}
{% block contents %}
    <div class="theme-page-section theme-page-section-gray theme-page-section-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-9-5 ">
            <h1 class="theme-account-page-title">마이페이지</h1>
            <div class="row">
              <div class="col-md-9 ">
                <div class="theme-account-preferences">
                  <div class="theme-account-preferences-item">
                    <div class="row">
                      <div class="col-md-3 ">
                        <h5 class="theme-account-preferences-item-title">이메일 주소</h5>
                      </div>
                      <div class="col-md-7 ">
                        <p class="theme-account-preferences-item-value">sample@gmail.com</p>
                      </div>
                    </div>
                  </div>
                  <div class="theme-account-preferences-item">
                    <div class="row">
                      <div class="col-md-3 ">
                        <h5 class="theme-account-preferences-item-title">집 주소</h5>
                      </div>
                      <div class="col-md-7 ">
                        <p class="theme-account-preferences-item-value">서울특별시 금천구 가산동...</p>
                        <div class="collapse" id="ChangeHomeAirportChange">
                          <div class="theme-account-preferences-item-change">
                            <p class="theme-account-preferences-item-change-description">서울특별시 금천구 가산동...</p>
                            <div class="form-group theme-account-preferences-item-change-form">
                              <input class="form-control" type="text" value="London, United Kingdom - Heathrow (LHR)"/>
                            </div>
                            <div class="theme-account-preferences-item-change-actions">
                              <a class="btn btn-sm btn-primary" href="#">저장</a>
                              <a class="btn btn-sm btn-default" href="#ChangeHomeAirportChange" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeHomeAirportChange">취소</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 ">
                        <a class="theme-account-preferences-item-change-link" href="#ChangeHomeAirportChange" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeHomeAirportChange">
                          <i class="fa fa-pencil"></i>수정
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="theme-account-preferences-item">
                    <div class="row">
                      <div class="col-md-3 ">
                        <h5 class="theme-account-preferences-item-title">비밀번호</h5>
                      </div>
                      <div class="col-md-7 ">
                        <p class="theme-account-preferences-item-value">********</p>
                        <div class="collapse" id="ChangePassword">
                          <div class="theme-account-preferences-item-change">
                            <p class="theme-account-preferences-item-change-description">다른 사이트에서 사용 안 한
                              <br/>긴 암호를 사용하는 것이 좋습니다.
                            </p>
                            <div class="form-group theme-account-preferences-item-change-form">
                              <label>현재 비밀번호</label>
                              <input class="form-control" type="password"/>
                              <label>새로운 비밀번호</label>
                              <input class="form-control" type="password"/>
                              <label>새로운 비밀번호 재확인</label>
                              <input class="form-control" type="password"/>
                            </div>
                            <div class="theme-account-preferences-item-change-actions">
                              <a class="btn btn-sm btn-primary" href="#">저장</a>
                              <a class="btn btn-sm btn-default" href="#ChangePassword" data-toggle="collapse" aria-expanded="false" aria-controls="ChangePassword">취소</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 ">
                        <a class="theme-account-preferences-item-change-link" href="#ChangePassword" data-toggle="collapse" aria-expanded="false" aria-controls="ChangePassword">
                          <i class="fa fa-pencil"></i>수정
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="theme-account-preferences-item">
                    <div class="row">
                      <div class="col-md-3 ">
                        <h5 class="theme-account-preferences-item-title">Default Language</h5>
                      </div>
                      <div class="col-md-7 ">
                        <p class="theme-account-preferences-item-value">English (EN)</p>
                        <div class="collapse" id="ChangeLanguage">
                          <div class="theme-account-preferences-item-change">
                            <div class="form-group theme-account-preferences-item-change-form">
                              <select class="form-control">
                                <option>English (EN)</option>
                              </select>
                            </div>
                            <div class="theme-account-preferences-item-change-actions">
                              <a class="btn btn-sm btn-primary" href="#">저장</a>
                              <a class="btn btn-sm btn-default" href="#ChangeLanguage" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeLanguage">취소</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 ">
                        <a class="theme-account-preferences-item-change-link" href="#ChangeLanguage" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeLanguage">
                          <i class="fa fa-pencil"></i>수정
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="theme-account-preferences-item">
                    <div class="row">
                      <div class="col-md-3 ">
                        <h5 class="theme-account-preferences-item-title">Default Currency</h5>
                      </div>
                      <div class="col-md-7 ">
                        <p class="theme-account-preferences-item-value">United States Dollars (USD)</p>
                        <div class="collapse" id="ChangeCurrency">
                          <div class="theme-account-preferences-item-change">
                            <div class="form-group theme-account-preferences-item-change-form">
                              <select class="form-control">
                                <option>United States Dollars (USD)</option>
                              </select>
                            </div>
                            <div class="theme-account-preferences-item-change-actions">
                              <a class="btn btn-sm btn-primary" href="#">저장</a>
                              <a class="btn btn-sm btn-default" href="#ChangeCurrency" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeCurrency">취소</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 ">
                        <a class="theme-account-preferences-item-change-link" href="#ChangeCurrency" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeCurrency">
                          <i class="fa fa-pencil"></i>수정
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="theme-account-preferences-item">
                    <div class="row">
                      <div class="col-md-3 ">
                        <h5 class="theme-account-preferences-item-title">Temperature</h5>
                      </div>
                      <div class="col-md-7 ">
                        <p class="theme-account-preferences-item-value">Celsius</p>
                        <div class="collapse" id="ChangeTemp">
                          <div class="theme-account-preferences-item-change">
                            <div class="form-group theme-account-preferences-item-change-form">
                              <select class="form-control">
                                <option>Celsius</option>
                                <option>Fahrenheit</option>
                              </select>
                            </div>
                            <div class="theme-account-preferences-item-change-actions">
                              <a class="btn btn-sm btn-primary" href="#">저장</a>
                              <a class="btn btn-sm btn-default" href="#ChangeTemp" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeTemp">취소</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-2 ">
                        <a class="theme-account-preferences-item-change-link" href="#ChangeTemp" data-toggle="collapse" aria-expanded="false" aria-controls="ChangeTemp">
                          <i class="fa fa-pencil"></i>수정
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="theme-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="theme-copyright-text">Copyright &copy; 2021
              <a href="https://github.com/HyunCheolNam/miniproject2">Github</a>. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}