{% extends 'base.html' %}
{% load static %}
{% block contents %}
<script>
function showPopup() {
   window.open("{% url 'user:insert_card'%}", "카드정보입력", "width=400, height=300, left=100, top=50"); 
   }
</script>
  <body>
    <div class="theme-page-section theme-page-section-gray theme-page-section-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-9-5 ">
            <h1 class="theme-account-page-title">결제</h1>
            <div class="row row-col-gap" data-gutter="20">
              <div class="col-md-4 ">
                <div class="theme-account-card theme-account-card-primary">
                  <div class="theme-account-card-mask">
                    <ul class="theme-account-card-actions">
                      <li>
                        <a href="#">
                          <i class="fa fa-pencil"></i>Edit
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-times"></i>Delete
                        </a>
                      </li>
                    </ul>
                  </div>
                  <p class="theme-account-card-number">**** **** **** **** 5518</p>
                  <div class="theme-account-card-expire">
                    <span class="theme-account-card-expire-end">valid
                      <br/>thru
                    </span>
                    <span class="theme-account-card-expire-date">8/20</span>
                  </div>
                  <div class="theme-account-card-name">
                    <p>JOHN DOE</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="theme-account-card">
                  <div class="theme-account-card-mask">
                    <ul class="theme-account-card-actions">
                      <li>
                        <a href="#">
                          <i class="fa fa-pencil"></i>Edit
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-times"></i>Delete
                        </a>
                      </li>
                    </ul>
                  </div>
                  <p class="theme-account-card-number">**** **** **** **** 5132</p>
                  <div class="theme-account-card-expire">
                    <span class="theme-account-card-expire-end">valid
                      <br/>thru
                    </span>
                    <span class="theme-account-card-expire-date">6/20</span>
                  </div>
                  <div class="theme-account-card-name">
                    <p>JOHN DOE</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="theme-account-card">
                  <div class="theme-account-card-mask">
                    <ul class="theme-account-card-actions">
                      <li>
                        <a href="#">
                          <i class="fa fa-pencil"></i>Edit
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-times"></i>Delete
                        </a>
                      </li>
                    </ul>
                  </div>
                  <p class="theme-account-card-number">**** **** **** **** 5038</p>
                  <div class="theme-account-card-expire">
                    <span class="theme-account-card-expire-end">valid
                      <br/>thru
                    </span>
                    <span class="theme-account-card-expire-date">1/19</span>
                  </div>
                  <div class="theme-account-card-name">
                    <p>JOHN DOE</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="theme-account-card">
                  <div class="theme-account-card-mask">
                    <ul class="theme-account-card-actions">
                      <li>
                        <a href="#">
                          <i class="fa fa-pencil"></i>Edit
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-times"></i>Delete
                        </a>
                      </li>
                    </ul>
                  </div>
                  <p class="theme-account-card-number">**** **** **** **** 9819</p>
                  <div class="theme-account-card-expire">
                    <span class="theme-account-card-expire-end">valid
                      <br/>thru
                    </span>
                    <span class="theme-account-card-expire-date">1/21</span>
                  </div>
                  <div class="theme-account-card-name">
                    <p>JOHN DOE</p>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-4 ">
                <div class="theme-account-card theme-account-card-new">
                  <a class="theme-account-card-mask-link" href="#"></a>
                  <p class="theme-account-card-new-title">+ Add New Card</p>
                </div>
              </div> -->
              <div class="col-md-4 ">
                <a href="#" onclick="showPopup(); return false; ">
                <div class="theme-account-card theme-account-card-new">
                  <p class="theme-account-card-new-title">+ Add New Card</p>
                </div>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="theme-footer" id="mainFooter">
    </div>
    <div class="theme-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="theme-copyright-text">Copyright &copy; 2018
              <a href="#">Bookify</a>. All rights reserved.
            </p>
          </div>
          <div class="col-md-6">
            <ul class="theme-copyright-social">
              <li>
                <a class="fa fa-facebook" href="#"></a>
              </li>
              <li>
                <a class="fa fa-google" href="#"></a>
              </li>
              <li>
                <a class="fa fa-twitter" href="#"></a>
              </li>
              <li>
                <a class="fa fa-youtube-play" href="#"></a>
              </li>
              <li>
                <a class="fa fa-instagram" href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}