{% extends 'base.html' %}
{% load static %}
{% block contents %}
<!-- 팝업 관련 css -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static '/css/modal.css' %}">

<body class="bg-gray">
  <div class="theme-page-section theme-page-section-xl">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="theme-login">
            <div class="theme-login-header">
              <h1 class="theme-login-title">로그인</h1>
              <p class="theme-login-subtitle">로그인하여 편한 세탁 라이프를 즐겨보세요.</p>
            </div>
            <div class="theme-login-box">
              <div class="theme-login-box-inner">
                <form class="theme-login-form" method="post">
                  {% csrf_token %}
                  <div class="form-group theme-login-form-group">
                    <input class="form-control" type="text" placeholder="ID" , name="user_id" />
                  </div>
                  <div class="form-group theme-login-form-group">
                    <input class="form-control" type="password" placeholder="Password" , name="user_pw" />
                    <p class="help-block">
                      <a href="{% url 'user:find_id' %}">아이디 찾기</a> /
                      <a href="{% url 'user:find_pw' %}">비밀번호 찾기</a>
                    </p>
                  </div>
                  <div class="form-group">
                    <div class="theme-login-checkbox">
                      <label class="icheck-label">
                        <input class="icheck" type="checkbox" />
                        <span class="icheck-title">로그인 유지</span>
                      </label>
                    </div>
                  </div>
                  <!-- input 으로 해야 데이터가 넘어감 -->
                  <input class="btn btn-uc btn-dark btn-block btn-lg"  type="submit" value="로그인" onclick="document.getElementById('id01').style.display='block'">
                  {% comment %} <a class="btn btn-uc btn-dark btn-block btn-lg" href="#">로그인</a> {% endcomment %}
                </form>
                <div class="theme-login-social-separator">
                  <p>소셜 로그인</p>
                </div>
                <div class="theme-login-social-login">
                  <div class="row" data-gutter="10">
                    <div class="col-xs-6">
                      <a class="theme-login-social-login-facebook" href="#">
                        <i class="fa fa-facebook-square"></i>
                        <span>Facebook
                          <br/>
                          <b>로그인</b>
                        </span>
                      </a>
                    </div>
                    <div class="col-xs-6">
                      <a class="theme-login-social-login-google" href="#">
                        <i class="fa fa-google-plus-circle"></i>
                        <span>Google
                          <br />
                          <b>로그인</b>
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="theme-login-box-alt">
                <p>회원가입을 하시겠습니까? &nbsp;
                  <a href="{% url 'user:signup'%}">가입하기</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 팝업창 -->
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4 modal_scale">
          <header class="w3-container w3-teal modal_flex">
            <span onclick="document.getElementById('id01').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
            <!-- 상단 상태바 색 변경하려면 이걸로 수정해야함. w3-teal,.w3-hover-teal: -->
            <h2>로그인</h2>
          </header>
          <div class="w3-container">
            <h5>로그인 실패</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}